body {
  font-family: "Courier New", Courier, monospace;
  height: 60vh;
  margin: 0 auto;

  background: linear-gradient(
    to bottom,
    red,
    magenta,
    blue,
    cyan,
    lime,
    yellow,
    orange,
    red
  );
  width: 60%;
  margin: 50px auto;
  padding: 20px;

  border: 5px dashed #fff;

  text-align: center;
}

#captchaInput {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  resize: vertical;
  background: linear-gradient(to left, red, magenta, blue, green, red);
  border-radius: 5px;
}

.submitButton {
  background: linear-gradient(
    to right,
    red,
    magenta,
    blue,
    cyan,
    lime,
    yellow,
    orange,
    red
  );
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

#captchaInput:focus {
  color: #000000;
}
#captchaInput::placeholder {
  color: #000000;
}

.p1 {
  color: white;
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}
.p2 {
  color: white;
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}

.nayan {
  position: fixed;
  left: -200px;
  z-index: 999999;
  pointer-events: none;
  transform: translateY(-50%);
  animation: slideRight 8s linear forwards;
}

@keyframes slideRight {
  0% {
    left: -200px;
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  100% {
    left: 110vw;
    opacity: 1;
  }
}

#playMusic {
  background: linear-gradient(
    to right,
    red,
    magenta,
    blue,
    cyan,
    lime,
    yellow,
    orange,
    red
  );
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border: 5px solid white;
}

#passwordSection {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#roastBox {
  margin-top: 15px;
  padding: 10px;
  background: black;
  color: lime;
  font-family: monospace;
  border: 1px solid lime;
}
